image: docker:latest


stages:
  - base
  - derived


build base image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '5.8.0'
          - '5.7.3'
          - '5.6.3'
          - '5.5.3'
  script: |
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    BASENAME=basic
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg SWIFT_VERSION=$SWIFT_VERSION .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE

build AppKid image:
  stage: derived
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '5.8.0'
          - '5.7.3'
          - '5.6.3'
          - '5.5.3'
  script: |
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    BASENAME=AppKid
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg SWIFT_VERSION=$SWIFT_VERSION \
      -f Dockerfile.$BASENAME .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE

