image: docker:latest


stages:
  - base
  - derived


build base image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '6.2.beta'
          - '6.1.1'
          - '6.0.3'
          - '5.10.0'
          - '5.9.2'
          - '5.8.1'
  script: |
    BASENAME=basic
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo IMAGE: $IMAGE
    
    if [ $SWIFT_VERSION = "6.2.beta" ]; then
      SWIFT_IMAGE=swiftlang/swift@sha256:c40cd00d376c8a06fd4769cadd6d6cfa7c205275437b795b564ecea3d8b8f913  # swift-6.2-DEVELOPMENT-SNAPSHOT-2025-05-30-a
    else
      SWIFT_IMAGE=swift:$SWIFT_VERSION-jammy
    fi
    echo SWIFT_IMAGE: $SWIFT_IMAGE

    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg SWIFT_IMAGE=$SWIFT_IMAGE \
      -f Dockerfile.base .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f


build wasm image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          # Make sure these are handled in the case statement below
          - '6.2.beta'
          - '6.1.0'
          - '6.0.3'
  script: |
    BASENAME=wasm
    
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo IMAGE: $IMAGE
    
    SWIFT_IMAGE=swift:$SWIFT_VERSION-jammy
    DOCKERFILE=Dockerfile.$BASENAME
    
    case $SWIFT_VERSION in
      6.2.beta)
        SWIFT_IMAGE=swiftlang/swift@sha256:c40cd00d376c8a06fd4769cadd6d6cfa7c205275437b795b564ecea3d8b8f913  # swift-6.2-DEVELOPMENT-SNAPSHOT-2025-05-30-a
        TAG=swift-6.2-DEVELOPMENT-SNAPSHOT-2025-05-30-a
        SDK_URL=https://download.swift.org/swift-6.2-branch/wasm-sdk/${TAG}/${TAG}_wasm.artifactbundle.tar.gz
        CHECKSUM=c55777bd47790c9ee728380b4d4e145153f805432775511777ac89d07b559226
        DOCKERFILE=Dockerfile.$BASENAME-6.2
        ;;
      6.1.0)
        RELEASE_TAG=6.1-RELEASE
        SDK_URL=https://github.com/swiftwasm/swift/releases/download/swift-wasm-${RELEASE_TAG}/swift-wasm-${RELEASE_TAG}-wasm32-unknown-wasi.artifactbundle.zip
        CHECKSUM=7550b4c77a55f4b637c376f5d192f297fe185607003a6212ad608276928db992
        ;;
      6.0.3)
        RELEASE_TAG=${SWIFT_VERSION}-RELEASE
        SDK_URL=https://github.com/swiftwasm/swift/releases/download/swift-wasm-${RELEASE_TAG}/swift-wasm-${RELEASE_TAG}-wasm32-unknown-wasi.artifactbundle.zip
        CHECKSUM=31d3585b06dd92de390bacc18527801480163188cd7473f492956b5e213a8618
        ;;
    esac
    
    echo SWIFT_IMAGE: $SWIFT_IMAGE
    echo DOCKERFILE: $DOCKERFILE
    
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE \
      --build-arg SWIFT_IMAGE=$SWIFT_IMAGE \
      --build-arg SDK_URL=$SDK_URL \
      --build-arg CHECKSUM=$CHECKSUM \
      -f $DOCKERFILE .

    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f


build android image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '6.2.beta'
          - '6.1.0'
  script: |
    BASENAME=android
    
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo IMAGE: $IMAGE
    
    SWIFT_IMAGE=swift:$SWIFT_VERSION-jammy
    
    case $SWIFT_VERSION in
      6.2.beta)
        # all variables are hardcoded in Dockerfile.android-6.2 for now
        ;;
      6.1.0)
        SDK_URL=https://source.skip.tools/swift-android-toolchain/releases/download/6.1/swift-6.1-RELEASE-android-24-0.1.artifactbundle.tar.gz
        CHECKSUM=f8696e3e84111b8c2c6f6e564b6266357987ea8d4aa3b2cf92f144357acde1c9
        ;;
      *)
        echo Unsupported Swift version: $SWIFT_VERSION
        exit 1
        ;;
    esac
    
    echo SWIFT_IMAGE: $SWIFT_IMAGE
    
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE \
      --build-arg SWIFT_IMAGE=$SWIFT_IMAGE \
      --build-arg SDK_URL=$SDK_URL \
      --build-arg CHECKSUM=$CHECKSUM \
      -f Dockerfile.$BASENAME-$SHORT_SWIFT_VERSION .

    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f


build hylo image:
  stage: derived
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          # for the derived images we don't deal with Swift patch versions
          - '6.2'
          - '6.1'
          - '6.0'
          - '5.10'
  script: |
    BASENAME=hylo
    # for the derived images we don't deal with Swift patch versions
    SHORT_SWIFT_VERSION=$SWIFT_VERSION
    if [ -n "$CI_COMMIT_TAG" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-latest
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo BASE_IMAGE: $BASE_IMAGE
    echo IMAGE: $IMAGE
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg BASE_IMAGE=$BASE_IMAGE \
      -f Dockerfile.$BASENAME .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f
