image: docker:latest


stages:
  - build
  - release


build:
  stage: build
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - 5.6
          - 5.5
  script: |
    IMAGE=$CI_REGISTRY_IMAGE:basic-$SWIFT_VERSION-$CI_COMMIT_SHA
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg SWIFT_VERSION=$SWIFT_VERSION .
    # docker push $IMAGE
