image: docker:latest


stages:
  - base
  - derived


build base image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '6.0.beta'
          - '5.10.0'
          - '5.9.2'
          - '5.8.1'
          - '5.7.3'
  script: |
    BASENAME=basic
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo IMAGE: $IMAGE
    
    if [ $SWIFT_VERSION = "6.0.beta" ]; then
      # swiftlang/swift:nightly-6.0-jammy swift-6.0-DEVELOPMENT-SNAPSHOT-2024-07-07-a
      SWIFT_IMAGE=swiftlang/swift@sha256:c0ba23ba9871be0552d48c5e98f363bf606858aedca11bf557bc0adde12bbc60
    else
      SWIFT_IMAGE=swift:$SWIFT_VERSION-jammy
    fi
    echo SWIFT_IMAGE: $SWIFT_IMAGE
    
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg SWIFT_IMAGE=$SWIFT_IMAGE \
      -f Dockerfile.base .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE


build wasm image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '6.0.beta'
  script: |
    BASENAME=wasm
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo IMAGE: $IMAGE
    
    if [ $SWIFT_VERSION = "6.0.beta" ]; then
      # swiftlang/swift:nightly-6.0-jammy swift-6.0-DEVELOPMENT-SNAPSHOT-2024-07-07-a
      SWIFT_IMAGE=swiftlang/swift@sha256:c0ba23ba9871be0552d48c5e98f363bf606858aedca11bf557bc0adde12bbc60
    else
      SWIFT_IMAGE=swift:$SWIFT_VERSION-jammy
    fi
    echo SWIFT_IMAGE: $SWIFT_IMAGE
    
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE \
      --build-arg SWIFT_VERSION=$SHORT_SWIFT_VERSION \
      --build-arg SWIFT_IMAGE=$SWIFT_IMAGE \
      -f Dockerfile.$BASENAME .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE


build AppKid image:
  stage: derived
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          # for the derived images we don't deal with Swift patch versions
          - '5.10'
          - '5.9'
          - '5.8'
          - '5.7'
  script: |
    BASENAME=AppKid
    # for the derived images we don't deal with Swift patch versions
    SHORT_SWIFT_VERSION=$SWIFT_VERSION
    if [ -n "$CI_COMMIT_TAG" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-latest
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo BASE_IMAGE: $BASE_IMAGE
    echo IMAGE: $IMAGE
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg BASE_IMAGE=$BASE_IMAGE \
      -f Dockerfile.$BASENAME .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE


build hylo image:
  stage: derived
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          # for the derived images we don't deal with Swift patch versions
          - '5.10'
          - '5.9'
          - '5.8'
          - '5.7'
  script: |
    BASENAME=hylo
    # for the derived images we don't deal with Swift patch versions
    SHORT_SWIFT_VERSION=$SWIFT_VERSION
    if [ -n "$CI_COMMIT_TAG" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-latest
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo BASE_IMAGE: $BASE_IMAGE
    echo IMAGE: $IMAGE
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg BASE_IMAGE=$BASE_IMAGE \
      -f Dockerfile.$BASENAME .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE


build adwaita image:
    stage: base
    only:
      - main
      - tags
      - branches
    tags:
      - spi-server-deploy
    parallel:
      matrix:
        - SWIFT_VERSION:
            - '5.10.0'
            - '5.9.2'
            - '5.8.1'
            - '5.7.3'
    script: |
      BASENAME=adwaita
      SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
      if [ -n "$CI_COMMIT_TAG" ]; then
        IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
      elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
        IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
      else
        IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
      fi
      echo IMAGE: $IMAGE
      docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
      docker build --pull -t $IMAGE --build-arg SWIFT_VERSION=$SHORT_SWIFT_VERSION \
        -f Dockerfile.$BASENAME .
      docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
      docker push $IMAGE
