image: docker:latest


stages:
  - build
  - release


build:
  stage: build
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '5.7.3'
          - '5.6.3'
          - '5.5.3'
          - '5.4.3'
  script: |
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg SWIFT_VERSION=$SWIFT_VERSION .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
