image: docker:latest


stages:
  - base
  - derived


build base image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '6.1.0'
          - '6.0.3'
          - '5.10.0'
          - '5.9.2'
          - '5.8.1'
  script: |
    BASENAME=basic
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo IMAGE: $IMAGE
    
    SWIFT_IMAGE=swift:$SWIFT_VERSION-jammy
    echo SWIFT_IMAGE: $SWIFT_IMAGE

    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg SWIFT_IMAGE=$SWIFT_IMAGE \
      -f Dockerfile.base .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f


build wasm image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '6.0.3'
          - '6.1.0'
  script: |
    # Checksums are required, match versions to SWIFT_VERSION above
    declare -A CHECKSUM=(
      ["6.0.3"]="31d3585b06dd92de390bacc18527801480163188cd7473f492956b5e213a8618"
      ["6.1.0"]="7550b4c77a55f4b637c376f5d192f297fe185607003a6212ad608276928db992"
    )
    
    BASENAME=wasm
    
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo IMAGE: $IMAGE
    
    SWIFT_IMAGE=swift:$SWIFT_VERSION-jammy
    echo SWIFT_IMAGE: $SWIFT_IMAGE
    
    case $SWIFT_VERSION in
      *.0)
        WASM_SWIFT_VERSION=$SHORT_SWIFT_VERSION
        ;;
      *)
        WASM_SWIFT_VERSION=$SWIFT_VERSION
        ;;
    esac
    echo WASM_SWIFT_VERSION: $WASM_SWIFT_VERSION
    
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE \
      --build-arg SWIFT_VERSION=$WASM_SWIFT_VERSION \
      --build-arg SWIFT_IMAGE=$SWIFT_IMAGE \
      --build-arg CHECKSUM="${CHECKSUM[$SWIFT_VERSION]}" \
      -f Dockerfile.$BASENAME .

    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f


build android image:
  stage: base
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          - '6.1.0'
  script: |
    # Checksums are required, match versions to SWIFT_VERSION above
    declare -A CHECKSUM=(
      ["6.1.0"]="f8696e3e84111b8c2c6f6e564b6266357987ea8d4aa3b2cf92f144357acde1c9"
    )
    
    BASENAME=android
    
    SHORT_SWIFT_VERSION=${SWIFT_VERSION%.*}  # 5.7.3 -> 5.7
    if [ -n "$CI_COMMIT_TAG" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo IMAGE: $IMAGE
    
    SWIFT_IMAGE=swift:$SWIFT_VERSION-jammy
    echo SWIFT_IMAGE: $SWIFT_IMAGE
    
    case $SWIFT_VERSION in
      *.0)
        ANDROID_SWIFT_VERSION=$SHORT_SWIFT_VERSION
        ;;
      *)
        ANDROID_SWIFT_VERSION=$SWIFT_VERSION
        ;;
    esac
    echo ANDROID_SWIFT_VERSION: $ANDROID_SWIFT_VERSION
    
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE \
      --build-arg SWIFT_VERSION=$ANDROID_SWIFT_VERSION \
      --build-arg SWIFT_IMAGE=$SWIFT_IMAGE \
      --build-arg CHECKSUM="${CHECKSUM[$SWIFT_VERSION]}" \
      -f Dockerfile.$BASENAME .

    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f


build AppKid image:
  stage: derived
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          # for the derived images we don't deal with Swift patch versions
          - '6.1'
          - '6.0'
          - '5.10'
          - '5.9'
  script: |
    BASENAME=AppKid
    # for the derived images we don't deal with Swift patch versions
    SHORT_SWIFT_VERSION=$SWIFT_VERSION
    if [ -n "$CI_COMMIT_TAG" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-latest
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo BASE_IMAGE: $BASE_IMAGE
    echo IMAGE: $IMAGE
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg BASE_IMAGE=$BASE_IMAGE \
      -f Dockerfile.$BASENAME .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f


build hylo image:
  stage: derived
  only:
    - main
    - tags
    - branches
  tags:
    - spi-server-deploy
  parallel:
    matrix:
      - SWIFT_VERSION:
          # for the derived images we don't deal with Swift patch versions
          - '6.1'
          - '6.0'
          - '5.10'
          - '5.9'
  script: |
    BASENAME=hylo
    # for the derived images we don't deal with Swift patch versions
    SHORT_SWIFT_VERSION=$SWIFT_VERSION
    if [ -n "$CI_COMMIT_TAG" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_TAG
    elif [ "$CI_COMMIT_REF_NAME" = "$CI_DEFAULT_BRANCH" ]; then
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-latest
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-latest
    else
      BASE_IMAGE=$CI_REGISTRY_IMAGE:basic-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
      IMAGE=$CI_REGISTRY_IMAGE:$BASENAME-$SHORT_SWIFT_VERSION-$CI_COMMIT_REF_NAME
    fi
    echo BASE_IMAGE: $BASE_IMAGE
    echo IMAGE: $IMAGE
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build --pull -t $IMAGE --build-arg BASE_IMAGE=$BASE_IMAGE \
      -f Dockerfile.$BASENAME .
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $IMAGE
    docker system prune -f
